<div data-controller="alert" class="overflow-hidden max-w-sm w-full shadow-xl rounded-lg rounded relative bg-contrast-500 text-white pointer-events-auto mb-1 ease-out transition-transform duration-300 transform -translate-y-24" data-alert-dismiss-after-value="5000">
  <div class="p-4">
    <div class="flex items-center">
      <div class="ml-2 w-0 flex-1 pt-0.5">
        <p class="text-sm leading-5 font-medium">
          <%= notice %>
        </p>
      </div>
      <div class="ml-4 flex-shrink-0 flex">
        <button data-action="alert#close" class="transform transition-all duration-200 ease-out hover:scale-110 opacity-60 hover:opacity-100">
          <%= heroicon "x-mark", variant: :mini, options: { class: "text-white" } %>
        </button>
      </div>
    </div>
  </div>
</div>