<div class="p-6 md:p-8 group border border-slate-100 rounded-lg shadow-sm dark:bg-slate-800 dark:highlight-white/5 dark:border-slate-800">
  <div class="animate-pulse md:flex">
    <div class="shrink-0 mb-6 md:mr-6 w-8 h-8 rounded-md bg-slate-200 dark:bg-slate-700"></div>
    <div class="w-full grid cols-3 gap-4">
      <div class="rounded h-4 bg-slate-200 dark:bg-slate-700 col-span-3"></div>
      <div class="col-span-3"></div>
      <div class="col-span-6 grid cols-3 gap-2">
        <div class="rounded h-2 bg-slate-200 dark:bg-slate-700 col-span-6"></div>
        <div class="rounded h-2 bg-slate-200 dark:bg-slate-700 col-span-6"></div>
        <div class="rounded h-2 bg-slate-200 dark:bg-slate-700 col-span-4"></div>
        <div class="col-span-2"></div>
      </div>
      <div class="rounded h-6 bg-slate-200 dark:bg-slate-700 col-span-2"></div>
    </div>
  </div>
</div>
