<div class="flex items-center p-4 border-b border-slate-900/10 lg:hidden dark:border-slate-50/[0.06]">
    <%= render "components/documentation/side_nav_mobile" %>
    <%= render "components/documentation/breadcrumbs" %>
</div>