<section>
    <div class="py-8 pt-36 flex flex-col items-center text-center">
        <h1 class="text-3xl md:text-5xl tracking-tight font-semibold text-gray-900 dark:text-white text-center"><%= title 'Better Ruby docs' %></h1>
        <p class="text-gray-500 md:text-lg mt-4 text-center max-w-2xl">Ruby is the most beautiful programming language in the world. Unfortunately it's documentation is not, so we make it easy for people to learn and understand.</p>
        <div class="flex flex-col mt-8 mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
					<%= link_to "Get started", version_path(Current.version), class:"bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-offset-2 focus:ring-offset-primary-50 text-white font-semibold h-12 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-primary-600 dark:highlight-white/20 dark:hover:bg-primary-700" %>
					<button type="button" id="search-trigger" class="hidden sm:flex items-center w-72 text-left space-x-3 px-4 h-12 bg-white ring-1 ring-slate-900/10 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-primary-500 shadow-sm rounded-lg text-slate-400 dark:bg-slate-800 dark:ring-0 dark:text-slate-300 dark:highlight-white/5 dark:hover:bg-slate-700">
						<svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none text-slate-300 dark:text-slate-400" aria-hidden="true">
						<path d="m19 19-3.5-3.5"></path>
						<circle cx="11" cy="11" r="6"></circle>
						</svg>
						<span class="flex-auto">Quick search...</span><kbd class="font-sans font-semibold dark:text-slate-500"><abbr title="Command" class="no-underline text-slate-300 dark:text-slate-500">⌘</abbr> K</kbd>
					</button>
        </div>
    </div>
</section>