<% score ||= "negative" %>
<% form_arguments = feedback.persisted? ? feedback : [target, feedback] %>

<%= turbo_frame_tag dom_id(target, :feedback_form), target: "_top" do %>
  <%= simple_form_for form_arguments do |f| %>
    <div class="space-y-4">
      <%= f.input :score, :as => :hidden, :input_html => { :value => score } %>
      <%= f.input :comment, as: :text, placeholder: "Tell us what you think! (Optional)" %>
      <div class="grid grid-cols-2 gap-4">
        <button data-action="click->portal#close" class="bg-white hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50 text-slate-900 dark:text-slate-400 dark:hover:text-slate-200 font-semibold border border-slate-200 hover:border-slate-300 dark:border-slate-500 dark:hover:border-slate-200 h-10 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-slate-800 dark:highlight-white/20 dark:hover:bg-slate-700">
          Cancel
        </button>
        <button type="submit" class="bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-400 focus:ring-offset-2 focus:ring-offset-primary-50 text-white font-semibold h-10 px-6 rounded-lg w-full flex items-center justify-center sm:w-auto dark:bg-primary-600 dark:highlight-white/20 dark:hover:bg-primary-700">
          Submit
        </button>
      </div>
    </div>
  <% end %>
<% end %>