<div class="flex items-center justify-center flex-col">
  <p class="text-center text-xl font-medium tracking-tight dark:text-slate-200">Was this page useful?</p>
  <div class="flex items-center space-x-4 mt-4">
    <%= render 'feedbacks/buttons', target: target, feedback: feedback %>
  </div>
</div>