<div data-controller="dropdown" class="relative">
  <button data-action="dropdown#toggle click@window->dropdown#hide" class="text-xs leading-5 font-semibold bg-slate-400/10 rounded-full py-1 px-3 flex items-center space-x-2 hover:bg-slate-400/20 dark:highlight-white/5" type="button">
    v<!-- --><%= Current.version.number %>
    <svg width="6" height="3" class="ml-2 overflow-visible" aria-hidden="true">
        <path d="M0 0L3 3L6 0" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path>
    </svg>
  </button>
  <div
    data-dropdown-target="menu"
    class="hidden transition transform origin-top-left absolute left-0"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  >
    <div class="mt-2 w-56 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
      <% Version.all.each do |version| %>
        <%= link_to "v#{version.number}", version_path(version.number), class: "text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900" %>
      <% end %>
    </div>
  </div>
</div>