<div data-controller="portal" data-portal-trigger-id-value="search-trigger" data-portal-open-hotkeys-value="<%= ["command+k", "ctrl+k"] %>" data-portal-close-hotkeys-value="<%= ["Escape"] %>">
  <button type="button" data-action="click->portal#open" class="ml-auto text-slate-500 w-8 h-8 -my-1 flex items-center justify-center hover:text-slate-600 lg:hidden dark:text-slate-400 dark:hover:text-slate-300">
    <span class="sr-only">Search</span>
    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
      <path d="m19 19-3.5-3.5"></path>
      <circle cx="11" cy="11" r="6"></circle>
    </svg>
  </button>
  <div data-portal-target="container" class="hidden">
    <div class="fixed z-50 inset-0" id="headlessui-dialog-6" role="dialog" aria-modal="true">
      <div data-action="click->portal#close" class="fixed inset-0 bg-black/20 backdrop-blur-sm dark:bg-slate-900/80" id="headlessui-dialog-overlay-41" aria-hidden="true"></div>
      <div class="fixed inset-0 flex justify-center p-4 lg:p-24 pointer-events-none">
        <div data-controller="search" class="pointer-events-auto overflow-scroll w-full max-w-xl bg-white rounded-lg shadow-lg text-base font-semibold text-slate-900 dark:bg-slate-800 dark:text-slate-400 dark:highlight-white/5">
          <%= render 'shared/navbar/search_form' %>
          <div class="p-4 sm:p-6">
            <%= render 'shared/navbar/search_hits', hits: {} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>