<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="bg-white dark:bg-gray-900">
    <%= render 'shared/navbar' %>
    <main class="container px-4 mx-auto max-w-screen-xl">
      <%= yield %>
    </main>
  </body>
</html>
